Hey everyone, in this first tutorial we'll be focusing on print commands, mathematical operations and booleans. Hope you all like it, lets begin.

so this is the first line of code you will be writing

In [ ]:
print("hello world")

Why dont you try printing some things on your own. Such as try printing "heyo, this is thingy, thingy, thingy and thingy, reporting for duty"

Heres another neat thing im gonna show you,

In [ ]:
print("guy_uno: hey guy_dos,")
print("whats up?")
print("guy_dos: hey man,")
print("not much.")

From what we're seeing here, the print command takes in anything that is written within a pair of inverted commas as its input. We can say that this input is a parameter of the print command.

Lets say you wanna type something up and then go to the next line and type something else up but you don't always want to go and type print("etc etc etc"). Heres what you can do instead.

In [ ]:
print("guy_uno: hey guy_dos, \nwhats up? \nguy_dos: hey man, \nnot much.")

Just attach the \n behind what you wanna type next and voila, you get to the next line. But this looks a little messy and plain ew a lot of the times. And so I introduce yet another solution.

In [ ]:
print("""guy_uno: hey guy_dos, 
whats up? 
guy_dos: hey man, 
not much.""")

Rather than putting a one pair of double inverted commas (i.e. " "), you put three pairs of it and you can write in any way you can get anything written in any way you please. And for pure aesthetic purposes, you can do the following and get the same results

In [ ]:
print("""
guy_uno: hey guy_dos, 
whats up? 
guy_dos: hey man, 
not much.
""")

You can also use the '#' symbol as a way to comment on lines of code. When you write anything after writing the '#', it does not affect your code and you can write anything beside it. This is used by programmers to basically describe how each line of their code works.

In [ ]:
print("yosup fam") # Here, i printed yosup fam and me writing whatever im writing right now will affect my code later on. I can literally write ANYTHING and it wont affect the code i wrote before the '#'. Pretty cool huh?

Why dont you guys try it out? Its pretty simple.

In [ ]:
print("type in the '#' and the write anything you want beside it")
print("Oh, by the way, you can also write the '' when you print with a double inverted commas")
print('You can also write the "" when you print with single inverted commas')

Right now, we're gonna go into some simple mathematics which we can use with python. Its pretty basic. The '-' means subtraction, '+' means addition, '*' means multiplication, '/' means division and '%' means modulus (this just gives you the remainder).

In [ ]:
print(1 + 1)# this adds 
print(2 * 4) # multiplies
print(666/420) # divides
print(70 - 1) # subtracts
print(2**4) # Oh, i didnt tell you about this but this actually raises to the power, so thats pretty cool too

Try some of this out yourself

Next up we're gonna go through some inequality signs. Pretty simple, once again, '<' is less-than, '>' is greater-than, '<=' is less-than-equal, '=>' is greater-than-equal to. By using this in our program, we can obtain boolean values. We'll go deeper into boolean values later on in this chapter but as of now, you need to understand that a boolean is either True or False. So using these inequalities, we will have boolean values returned.

In [ ]:
1 > 2

In [ ]:
3 > 2

In [ ]:
3 > 3

In [ ]:
print("Is 1 greater than 2?", 1 > 2)

In [ ]:
print("is 3 greater than 3?", 3 > 3)

Now we're gonna be moving on to variables in python. So in python variables arent restricted to single letters like the ones you see in mathematical equations. Entire words or names can also be variables. For example, your name (I'm gonna assume your name is Roshid mama) can also be a variable.

In [ ]:
roshid_mama = 57 
print(roshid_mama)
x = 2
print(x)
some_number = roshid_mama - x
print(some_number)

As you can see from the examples above, you can also perform mathematical calculations with these variable. Why dont you try it out yourself?

So the cool thing about variables in Python is that you can very easily declare a variable as we've seen above.

In [ ]:
ten = 10
nine = 8 
you = 5
bla = 3
blatwo = 2

Now, variables are not restricted to only being equal to numbers. Variables can also be equal to sentences or words, lists (which we will talk about later), floats (floats are really just integer numbers that have a decimal point beside them and they allow for calculations for upto higher decimal places), arrays and so on.

When we put a sentence or a word in the print command above, by the sentence or word, we were actually referring to a term in programming called strings. Strings in Python is anything that is within a pair of inverted commas or a three pairs of inverted commas. Now, we can make a variable be equal to a string, heres how.

In [ ]:
greetings = "helo"
formal_greetings = """henlo, 
my sire"""

Now, we know that the print command takes strings as its parameters. With that logic the print command should also be to take our variables above as its parameters. Lets try that?

In [ ]:
print(greetings)
print(formal_greetings)

In [ ]:
the_thing_after_greetings = "whats up"

We can also add variables that have strings with each other, as well as variables that have float numbers or integer numbers with each other. But you can't add floats and strings or integers and strings together. Lets demonstrate.

In [ ]:
print(greetings + the_thing_after_greetings)
print(ten + nine)

Now the output that says "helowhats up" doesnt look very pretty because of no space being between "helo" and "whats". We can fix this in a number of ways.

We can do this for instances

In [ ]:
print(greetings + " " + the_thing_after_greetings)

Or we can change what the variable is equal too and put a space behind or infront of what it is equal too.

In [ ]:
the_thing_after_greetings = " whats up"
print(greetings + the_thing_after_greetings)

Or

In [ ]:
the_thing_after_greetings = "whats up"
greetings = "helo "
print(greetings + the_thing_after_greetings)

But when we try to run the following, we'll get an error message

In [ ]:
print(greetings + nine)

If you read the error message, you see that we cant add these two variables because one is a string and the other is a integer. We'll get a similar error message if we attempt to add a string and a float number

You can actually check the data type of a variable or a string, float, etc by using the type() command.

In [ ]:
print(type(ten))
print(type(greetings))
print(type(4))
print(type(5.67))
print(type("hello, itssa me, mario"))

Now, why don't you try all that you learned so far out by yourself.

We saw that we werent able to add strings and integers. With the help of the command I'm going to show below we can actually change an integer (or even a float) into a string.

In [ ]:
nine = str(nine)
print(greetings + nine)

Likewise we could change a string into an integer, or a float to an integer or even a string to float. All we have to do is the following,

In [ ]:
#for string to int

ten = "10"
ten = int(ten)
ten = int("10")

#for float to int

eight = 8
eightfloat = float(eight)
eight = float(eight)
eight = float(8)

#for string to float

six = "6"
six = float(six)
six = float("6")

print(ten)
print(eight)
print(six)

One more thing you gotta learn before we move on is called formatting. So you can actually put in variables inside the print command. We call that formatting.

Originally we would do something like this

In [ ]:
name = "Mahir"
print("My name is" + " " + name)

And this is completely fine but theres a much faster and easier way to do the same thing and we do that by formatting.

In [ ]:
print(f"My name is {name}")

What we did here is pretty simple, we put f before the first inverted comma that was gonna print whatever we wrote. This f stands for format, and then we put the variable that we wanted within curly braces (  { }  ) and we ran the command.

In [ ]:
print(f"This is the new nine, {nine}")

It also turns integers into strings. Try some of this out yourself.

Next we're gonna start learning about booleans. 

In the world of computing, there are two options: True or False. These can be represented by 1s and 0s (respectively) or high voltage and low voltage (respectively). Most things in programming, as far as I know at least, are like this and hence they are called binary. 

Now True and False are also data types like strings, floats and integars. The name of the data type associated with True and False is called bool, short for boolean.

In [ ]:
print(type(True))
print(type(False))

Using mathematical operators such as ">", "<" we can find out bool values

In [ ]:
print(1 > 2)
print(10 > 9)
print(71 < 14)
print(67 < 89)

Now lets say we wanted to find out obtain a True value but we wanted to use the "=" operator. We can say that "1 = 1" and in our heads, this will be True. But when use the "=" symbol in Python, we arent really asking if something is equal to something else, we're really assigning to our program that something should be equal to something else. So rather than using "=" symbol as the operator, we use "==" instead. This may be slightly hard to comprehend, so take your time, hopefully the examples will clear things up.

In [ ]:
print(1 == 1)
print(2 == 2)
print(2 == 3)
print(33 == 66)

We can use the "=>" or "<=" in these cases as well.

Thats all for this tutorial. I'll give you a few more lines so that you can experiment further. Thank you and happy coding.

-- Al Mahir Ahmed